/*
* {
  outline: 2px solid red;
}
*/

body {
  font-family: 'Merriweather', Georgia, serif;
  background-color: #fdf6f0;
  margin: 32px;
}

.title {
  text-align: center;
  margin: 32px;
}

.recipe-container {
  margin: 16px;
  text-align: center;
}

